@import './mixins';

.home-grid
{
  padding-top: 10px;
  padding-bottom: 10px;

  @supports ( display: flex )
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @supports ( display: grid )
  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: dense;

    grid-gap: 20px;

    padding-top: 20px; /* override */
    padding-bottom: 20px; /* override */

    :nth-child(1) { grid-column: span 2; }
    :nth-child(7) { grid-column: span 2; }

    @include mq('tablet', 'max')
    {
      grid-template-columns: 1fr;

      .grid-item { grid-column: span 1; }
    }
  }

}
.grid-item
{
  position: relative;
  overflow: hidden;

  margin: 10px;

  float: left;

  width: calc(33.3333% - 20px);
  max-width: calc(33.3333% - 20px);

  background: white;

  &:nth-child(1) { width: calc(66.6666% - 20px); max-width: calc(66.6666% - 20px) }
  &:nth-child(2) { width: calc(33.3333% - 20px); max-width: calc(33.3333% - 20px) }

  &:nth-child(6) { width: calc(33.3333% - 20px); max-width: calc(33.3333% - 20px) }
  &:nth-child(7) { width: calc(66.6666% - 20px); max-width: calc(66.6666% - 20px) }

  @supports ( display: flex ) { float: none; }

  @supports ( display: grid )
  {
    float: none;
    width: 100%; /* override */
    min-width: 100%;
    max-width: 100%; /* override */
    margin: 0;
  }

}