#profile-area {

    .profile-cover {
      min-height: 300px;
      position: relative;
      margin-bottom: 20px;
      background: black;
    }


    .profile-image {
      border: 1px solid black;
      width: 200px;
      min-width: 100px;
      position: relative;
      &:before {
        display: block;
        content: "";
        width: 200px;
        min-width: 100px;
        padding-top: 100%;
      }
    }

    .profile-details {
      margin-top: 20px;
      background: white;
      border-top: 1px solid $lightgrey;
      padding: 20px;
      margin-bottom: 20px;

      .title {
        margin-top: 0;
        padding-bottom: 5px;
        border-bottom: 5px solid $primary;
        display: inline-block;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
      }

    }

}
