{% extends 'index.html.twig' %}

{% block layout %}
    <div class="" style="height: 100%; flex: 1; position: relative; display: flex;">
        {% block content %}{% endblock %}
    </div>
{% endblock %}