<div class="user-area">
    {% if isLogged %}
        <div>
                <div class="username">{{ AuthUser.getUsername() }}</div>
                <div class="logout"><a href="/logout">logout</a></div>
        </div>
        <div class="user-picture" style="background-image: url({{ AuthUser.getProfilePicture() }})"></div>
    {% else %}
        <button class="signup"><a href="/auth"></a></button>
    {% endif %}
</div>