<div class="user-area" style="">

    {% if isLogged %}
        <div>
                <div class="username">{{ AuthUser.getUsername() }}</div>
                <div class="logout"><a href="/logout">logout</a></div>
        </div>
        <div class="user-picture" style="background-image: url({{ AuthUser.getProfilePicture() }})"></div>
    {% else %}
        <div><a href="/auth">SIGNUP</a></div>
    {% endif %}
<!--
    <div class="username"><b>JOHN DOE&nbsp;</b></div>
    <div class="photo"><i class="fa fa-user fa-3x"></i></div>
    -->
</div>