<div class="user-area">
    {% if isLogged %}
        <div>
            <a href="/profile/{{ AuthUser.getUsername() }}" class="username">{{ AuthUser.getUsername() }}wykaaaa</a>
            <div class="logout"><a href="/logout">logout</a></div>
        </div>
        <div class="user-picture my-user-picture" style="background-image: url({{ AuthUser.requestProfilePicture() }})"></div>
    {% else %}
        <a class="signin" href="/auth">Sign In</a>
    {% endif %}
</div>