<div class="user-area" style="border: 1px solid red;">

    {% if user %}
        logged
    {% else %}
        login
    {% endif %}
<!--
    <div class="username"><b>JOHN DOE&nbsp;</b></div>
    <div class="photo"><i class="fa fa-user fa-3x"></i></div>
    -->
</div>