<footer id="main-footer">
    <div class="container-full footer-sponsor-row">
        {% include 'widget.sponsor.inline.html.twig' with {'class': 'widget-sponsor-footer'} %}
    </div>
    <div class="container-full footer-content-row">
        <div class="container site-map-container">
            {% include 'index.footer.sitemap.html.twig' with {'class': 'widget-sponsor-footer'} %}
            <div class="brand">
                <div class="logo">
                    <picture>
                        <source type="image/svg+xml" srcset="static/drawable/logo-white-orange.svg">
                        <img src="static/drawable/logo-white-orange.png"  alt="Logo description">
                    </picture>
                </div>
                <div class="social-icons">
                    {% include 'widget.social.icons.html.twig'
                        with {
                            items: { 'twitter' : 'www.twitter.com', 'facebook' : 'www.twitter.com' },
                            limit: 3
                        }
                        only
                    %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-full footer-bottom-row">
        {% include 'index.footer.infoline.html.twig' %}
    </div>
</footer>