
<footer id="main-footer">
    <!-- row -->
    <div class="container-full footer-sponsors-container-full">
		{% if Config.get('page_show_sponsors_bottom') == 1 %}
        {% include 'widget.sponsor.inline.html.twig'
            with {
            collection: partnersBot,
            limit: 4,
            class: 'widget-sponsor-footer'
        }
        only
        %}
		{% endif%}
    </div>
    <!-- row -->
    <div  class="container-full footer-content-row">
        <div class="container site-map-container">
            {% include 'index.footer.sitemap.html.twig'
                with {
                    items: [
                        {
                            title: 'social',
                            links: [
                                { title: 'facebook', url: 'https://facebook.com', blank: true },
                                { title: 'youtube', url: 'https://youtube.com', blank: true},
                                { title: 'instagram', url: 'https://instagram.com', blank: true },
                                { title: 'twitter', url: 'https://twitter.com', blank: true },
                                { title: 'twitch.tv', url: 'https://twitch.tv', blank: true },
                            ]
                        },
                        {
                            title: 'pages',
                            links: [
                                { title: 'articles', url: '/articles'},
                                { title: 'squads', url: '/squads'},
                                { title: 'matches', url: '/matches'},
                                { title: 'signup', url: '/auth'},
							    { title: 'events', url: '/events'},
                            ]
                        },
                        {
                            title: 'more',
                            links: [
                                { title: 'partners', url: '/partners'},
                                { title: 'galleries', url: '/gallery'},
                                { title: 'awards', url: '/awards'},
                                { title: 'shop', url: '/products'},
                                { title: 'about', url: '/about'},
                            ]
                        }
                    ]
                }
            %}
            {% include 'index.footer.brand.html.twig' %}
        </div>
    </div>
    <!-- row -->
    <div class="container-full footer-bottom-row">
        {% include 'index.footer.infoline.html.twig' %}
    </div>
</footer>
