@import '../lib/scss/mixins';

footer#main-footer {
  background: $dark;
	font-family: $font2;
  .footer-sponsor-row {
	background: $darkerGrey;
  }
  .footer-content-row {
	  border-top: 1px solid $darkerGrey;
		padding-top: 60px;
		padding-bottom: 30px;
	.site-map-container {
	  display: flex;
	  justify-content: space-between;
	  @include mq('phablet', 'max') { flex-direction: column-reverse; align-items: center; }
	  .site-map {
		  margin-top: -10px;
		position: relative;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 500px;
		@include mq('tablet', 'max') { width: 400px; }
		@include mq('tablet-small', 'max') { width: 330px; }
		@include mq('phablet', 'max') { width: 100%; margin-top: 40px; }
		.site-map-item
		{
		  @include mq('phone', 'max') { min-width: 50%; }
		  h1
		  {
			display: inline-block;
			margin: 0;
			color: $light;
			line-height: 45px;
			border-bottom: 7.5px solid $primary;
			text-transform: uppercase;
		  }
		  ul
		  {
			list-style-type: none;
			padding: 0;
			li
			{
			  line-height: 35px;
			  text-transform: uppercase;
			  font-weight: 700;
			  font-size: 12px;
			  
			  a {
				color: $darkGrey;
				&:hover {
				  color: $lightGrey;
				}
			  }
			}
		  }
		}
	  }
	  .brand
	  {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 150px;
		.logo {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.icons { .icon { margin-bottom: 7.5px; } }
	  }
	}
  }
  .footer-bottom-row {
	  border-top: 1px solid $darkerGrey;
	.info-container {
	  min-height: 60px;
	  line-height: 60px;
	  align-items: center;
	  font-weight: 700;
	  background: $dark;
	  display: flex;
	  justify-content: space-between;
	  flex-wrap: wrap;

      a {
		color: $darkGrey;
	  }
	}
  }
}

@include mq('phablet', 'max')
{
	footer#main-footer {
		.footer-content-row {
			display: none;
		}
		.footer-bottom-row {
			.info-container {
				flex-direction: column;
			}
		}
	}
}
