<div class="container info-container">
    <span>{{ Config.get('page_copyright') }} | <a href="http://www.webdevplace.com?referencesite=avenue">Want a website like this?</a></span>
    <span><a href="/contact">Contact Avenue</a></span>
</div>