
<footer id="main-footer">
    <div class="container-full footer-sponsors-container-full">
		{% if Config.get('page_show_sponsors_bottom') == 1 %}
        {% include 'widget.sponsor.inline.html.twig'
            with {
            collection: partnersBot,
            limit: 4,
            class: 'widget-sponsor-footer'
        }
        only
        %}
		{% endif%}
    </div>
    <div  class="container-full footer-content-row">
        <div class="container site-map-container">
            {% include 'index.footer.sitemap.html.twig'
                with {
                    items: [
                        {
                            title: 'pages',
                            links: [
                                { title: 'articles', url: '/articles'},
                                { title: 'squads', url: '/squads'},
                                { title: 'matches', url: '/matches'},
                                { title: 'signup', url: '/auth'},
							    { title: 'events', url: '/events'},
                            ]
                        },
                        {
                            title: 'more',
                            links: [
                                { title: 'partners', url: '/partners'},
                                { title: 'galleries', url: '/gallery'},
                                { title: 'awards', url: '/awards'},
                                { title: 'shop', url: '/products'},
                                { title: 'about', url: '/about'},
                            ]
                        }
                    ]
                }
            %}
            {% include 'index.footer.brand.html.twig' %}
        </div>
    </div>
    <div class="container-full footer-bottom-row">
        {% include 'index.footer.infoline.html.twig' %}
    </div>
</footer>
