<header id="main-header">
    <div class="header-aside header-left">
        {% include 'widget.social.icons.html.twig'
            with {
                items: { 'twitter' : 'www.twitter.com', 'facebook' : 'www.twitter.com' },
                limit: 3
            }
            only
        %}
        <span class="hidden-desktop" style="display: none">
			<i class="fa fa-bars fa-3x"></i>
		</span>
    </div>
    <div class="container header-center-container">
        <nav class="navigation nav-left">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/article">Articles</a></li>
                <li><a href="/squads">Squads</a></li>
            </ul>
        </nav>
        <div class="brand-holder">
            <a class="brand" href="/home">
                <picture>
                    <source type="image/svg+xml" srcset="static/drawable/avenue-logo-shape.svg">
                    <img src="static/drawable/avenue-logo-shape.png"  alt="Logo description">
                </picture>
            </a>
        </div>
        <nav class="navigation nav-right">
            <ul>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/streams">Streams</a></li>
                <li><a href="/partners">Partners</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-aside header-right">
        {% include 'header.user.html.twig' with { user : user } only %}
    </div>
    <nav class="menu">
        <div class="container">
            menu
        </div>
    </nav>
</header>