<footer id="main-footer">
    <!-- row -->
    <div style="display: none" class="container-full footer-sponsors-container-full">
        {% include 'widget.sponsor.inline.html.twig'
            with {
            items: {
                'corsair'      : '',
                'razer'        : '',
                'steelseries'  : '',
                'thermaltake'  : '',
            },
            limit: 4,
            class: 'widget-sponsor-footer'
        }
            only
        %}
    </div>
    <!-- row -->
    <div  class="container-full footer-content-row">
        <div class="container site-map-container">
            {% include 'index.footer.sitemap.html.twig'
                with {
                    items: [
                        {
                            title: 'social',
                            links: [
                                { title: 'facebook', url: 'https://facebook.com', blank: true },
                                { title: 'youtube', url: 'https://youtube.com', blank: true},
                                { title: 'instagram', url: 'https://instagram.com', blank: true },
                                { title: 'twitter', url: 'https://twitter.com', blank: true },
                                { title: 'twitch.tv', url: 'https://twitch.tv', blank: true },
                            ]
                        },
                        {
                            title: 'pages',
                            links: [
                                { title: 'articles', url: '/articles'},
                                { title: 'squads', url: '/squad'},
                                { title: 'videos', url: '/videos'},
                                { title: 'streams', url: '/streams'},
                                { title: 'signup', url: '/auth'},
                            ]
                        },
                        {
                            title: 'more',
                            links: [
                                { title: 'partners', url: '/partners'},
                                { title: 'contact', url: '/contact'},
                                { title: 'shop', url: '/product'},
                                { title: 'about', url: '/about'},
                            ]
                        }
                    ]
                }
            %}
            {% include 'index.footer.brand.html.twig' %}
        </div>
    </div>
    <!-- row -->
    <div class="container-full footer-bottom-row">
        {% include 'index.footer.infoline.html.twig' %}
    </div>
</footer>
