header#main-header {
  height: 150px;
  border-top: 15px solid $primary;
  background: $dark;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  //border: 1px solid deeppink;
  
  
  .header-aside {
	flex: 1;
	display: flex;
	align-items: center;
	overflow: visible;
	padding: 0 15px 0 15px;
	min-width:80px;
	max-width: 300px;
	//border: 1px solid lightgreen;
	.icon { margin: 2px; }
	.icons { }
	&.header-left { justify-content: flex-start;}
	&.header-right { justify-content: flex-end; }
	.user-area
	{
	  > div {
		text-align: center;
	  }
	  overflow: visible;
	  height: 100%;
	  display: flex;
	  flex-direction: column-reverse;
	  flex-wrap: wrap;
	  align-items: center;
	  justify-content: center;
	  align-content: center;
	  .username {
		color: $primary;
		text-transform: uppercase;
		font-weight: bold;
	  }
	  .logout > a { color: $darkGrey; }
	  
	  a.signin {
		background: $primary;
		border-radius: 2px;
		color: $lightGrey;
		border: none;
		padding: 5px 10px 5px 10px;
		white-space:nowrap;
		word-wrap: unset;
	  }
	}
  }
  .header-center-container {
	display: flex;
	justify-content: center;
	.navigation {
	  display: flex;
	  align-items: center;
	  flex: 1;
	  font-family: 'Montserrat', sans-serif;
	  font-weight: bold;
	  text-transform: uppercase;
	  font-size: 22px;
	  ul {
		list-style-type: none;
		width: 100%;
		height: 100%;
		padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	  }
	  &.nav-left  { justify-content: flex-start; }
	  &.nav-right { justify-content: flex-end;   }
	}
	.brand-holder {
	  width: 260px;
	  padding: 15px 0 15px 0;
	  
	  position: relative;
	  .brand {
		width: 100%;
		position: relative;
		height: 100%;
		text-align: center;
		img { width: auto; height: 100%; }
	  }
	}
  }
  .menu {
	display: none;
	min-width: 100%;
	position: absolute;
	min-height: 300px;
	border-bottom: 15px solid $primary;
	background:  $dark2;
	top: 145px;
	z-index: 5;
  }
  
}

// TODO:: move
nav#side-nav {
  height: 100%;
  width: 400px;
  max-width: 0;
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  -webkit-box-shadow: 10px 0 200px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 0 200px 0 rgba(0,0,0,0.75);
  box-shadow: 10px 0 200px 0 rgba(0,0,0,0.75);
  a.signin {
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  > a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	&:hover {
	  color: #f1f1f1;
	}
  }
  .user-block {
	background: $darkerGrey;
	padding: 8px 8px 8px 32px;
	.user-area {
	  display: flex;
	  flex-direction: row-reverse;
	  align-items: center;
	  justify-content: flex-end;
	  align-content: center;
	  .username { color: $primary; }
	}
  }
  .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	cursor: pointer;
  }
}
#side-nav-trigger { display: none; cursor: pointer; }

@include mq('desktop-wide', 'max') {
  header#main-header .header-aside.header-right .user-area {
	display: none !important;
  }
  header#main-header .header-aside {
	&.header-left .icons { display: none; }
  }
  header#main-header {
	flex-direction: row-reverse;
	.user-area {
	  a.signin {
		display: none;
	  }
	}
  }
  header#main-header .header-center-container .navigation {
	display: none;
  }
  #side-nav-trigger {
	display: inline-block;
  }
}

@include mq('desktop-wide', 'max') {
  header#main-header {
	max-height: 100px;
	height: 100px;
  }
}

@include mq('phone', 'max') {
  header#main-header .header-center-container .brand-holder {
	width: 120px;
  }
}
