<nav class="site-map">

    {% set limit = ( limit ? limit : 3 ) %}

    {% for item in items if limit > 0 %}

        <div class="site-map-item social">
            <h4>{{ item.title }}</h4>
            <ul>
                {% for link in item.links %}
                    <li><a target="{{ (link.blank ? "_blank" : "") }}" href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

        {% set limit = limit - 1 %}

    {% endfor %}

</nav>
