<!DOCTYPE html>
<html lang="en">
<head>
	<base href="public/">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" async="true" href="static/css/index.css">
	<link rel="stylesheet" async="true" href="style/font-awesome/css/fontawesome-all.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="http://malsup.github.com/jquery.form.js"></script>
	</head>
<body>

<div>

	<form id="imageUpload">
		<input type="file" id="fileInput">
		<button id="uploadButton" type="button">upload</button>
	</form>

	<script>

		$(document).ready(function(){

			$("#uploadButton").on('click', function( event ){

				event.stopPropagation();
				event.preventDefault();

				var fileInput = $("#fileInput");
				var fd = new FormData();
			  	var f = fileInput.get(0).files[0];

				if(f)
				{
					fd.append('image', f, f.name);
					$.ajax({
						url: "/uploadImage",
						type: "POST",
						data:  fd,
						beforeSend: function(){

						},
						xhr: function() {
							var xhr = new window.XMLHttpRequest();

							xhr.upload.addEventListener("progress", function(evt) {
								if (evt.lengthComputable) {
									var percentComplete = evt.loaded / evt.total;
									percentComplete = parseInt(percentComplete * 100);
									console.log(percentComplete);

									if (percentComplete === 100) {

									}

								}
							}, false);

							return xhr;
						},
						complete: function(xhr) {

						},
						contentType: false,
						processData:false,
						success: function(response)
						{
							console.log(response)
						},
						error: function()
						{

						}
					});
				}
			});

		});

	</script>

</div>


<div id="wrapper">
	
	{% include 'main.header.twig' %}

	<section id="main-content">
		<div class="container-full top-sponsor-row">
            {% include 'widget.sponsor.inline.twig'
				with {
					items: {
						'corsair'      : 'https://cdn.worldvectorlogo.com/logos/corsair-2.svg',
                    	'razer'        : 'https://seeklogo.com/images/R/razer-logo-B4E375B409-seeklogo.com.png',
                    	'steelseries'  : 'http://cerebral-overload.com/wp-content/uploads/2017/11/Steelseries-Logo.png',
					},
					limit: null,
					class: 'widget-sponsor-top'
				}
				only
			%}
		</div>
		<div class="container">
			<article class="widget-featured-news">
				ft-news
			</article>
		</div>
		<div class="container">
			<article class="widget-last-news">
				lt-news
			</article>
			<article class="widget-featured-any">
				ft-any
			</article>
		</div>
		<div class="container">
			<article class="widget-featured-team">
				ft-team
			</article>
		</div>
	</section>

    {% include 'main.footer.twig' %}

</div>

</body>
</html>