<div class="brand">
    <div class="logo">
        <picture>
            <source type="image/svg+xml" srcset="static/drawable/logo-white-orange.svg">
            <img src="static/drawable/logo-white-orange.png"  alt="Logo description">
        </picture>
    </div>
</div>