header#main-header {
  height: 150px;
  border-top: 15px solid $primary;
  background: $dark;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;


	border-bottom: 1px solid $darkGrey;
  //border: 1px solid deeppink;
  
  
  .header-aside {
	flex: 1;
	display: flex;
	align-items: center;
	overflow: visible;
	padding: 0 15px 0 15px;
	min-width:80px;
	max-width: 300px;
	//border: 1px solid lightgreen;
	.icon { margin: 2px; }
	.icons { }
	&.header-left { justify-content: flex-start;}
	&.header-right { justify-content: flex-end; }
	.user-area
	{
	  > div {
		text-align: center;
	  }
	  overflow: visible;
	  height: 100%;
	  display: flex;
	  flex-direction: column-reverse;
	  flex-wrap: wrap;
	  align-items: center;
	  justify-content: center;
	  align-content: center;
	  .username {
		color: $primary;
		text-transform: uppercase;
		font-weight: bold;
	  }
	  .logout > a { color: $darkGrey; }
	  
	  a.signin {
		background: $primary;
		border-radius: 2px;
		color: $lightGrey;
		border: none;
		padding: 5px 10px 5px 10px;
		white-space:nowrap;
		word-wrap: unset;
	  }
	}
  }
  .header-center-container {
	display: flex;
	justify-content: center;
	.navigation {
	  display: flex;
	  align-items: center;
	  flex: 1;
	  font-family: 'Montserrat', sans-serif;
	  font-weight: bold;
	  text-transform: uppercase;
	  font-size: 22px;
	  ul {
		list-style-type: none;
		width: 100%;
		height: 100%;
		padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	  }
	  &.nav-left  { justify-content: flex-start; }
	  &.nav-right { justify-content: flex-end;   }
	}
	.brand-holder {
	  width: 260px;
	  padding: 15px 0 15px 0;
	  
	  position: relative;
	  .brand {
		width: 100%;
		position: relative;
		height: 100%;
		text-align: center;
		img { width: auto; height: 100%; }
	  }
	}
  }
  .menu {
	min-width: 100%;
	position: absolute;
  	display:none;
  	height: 340px;
	border-bottom: 1px solid $darkGrey;
	background:  $dark2;
	top: 135px;
	z-index: 5;
	box-shadow: 0 28px 58px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

	> .esport-container
	{
		display: flex;
		flex-direction: column;
		height: 340px;
		position: relative;
		flex-wrap: wrap;
		//border: 1px solid green;
		.menu-section {
			min-height: 340px;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			position: relative;

			justify-content: space-between;
			> * { min-width: 100%; }
			//border: 1px solid orange;
			.menu-section-headline {
				color: white;
				//border: 1px solid blue;
			}
			.menu-section-content {
				flex: 1;
				color: lightgrey;
			}
			.menu-section-footer {
				max-height: 45px;
				height: 45px;
			}
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;

			li {
				margin-bottom: 15px;
			}
		}

		.trending-members-section {
			li > span {
				text-transform: uppercase;
			}
			span.userName {
				font-weight: bold;
			}
		}

		.trending-member-section {
			align-self: flex-end;
			.menu-section-content {
				display: flex;
				position: relative;
				.trending-member-bg {
					align-self: flex-end;
					position: relative;
					display: flex;
					flex-wrap: nowrap;
					text-align: center;
					align-content: center;
					align-items: center;
					justify-content: center;
				}
				.memberInfo {
					display: block;
					text-align: center;
					align-self: flex-end;
					font-size: 16px;
					text-transform: uppercase;
					span {
						font-weight: bold;
					}
				}
			}
		}

		.match-section {
			.game > span {
				width: 60px;
				min-width: 60px;
				margin-right: 10px;
			}
			.team {
				display: inline-block;
				min-width: 220px;
			}
			.score {
				font-size: 16px;
				font-weight: bold;
				color: $primary;
			}
		}

	}
  }
  
}

// TODO:: move
nav#side-nav {
  height: 100%;
  width: 400px;
  max-width: 0;
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  -webkit-box-shadow: 10px 0 200px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 0 200px 0 rgba(0,0,0,0.75);
  box-shadow: 10px 0 200px 0 rgba(0,0,0,0.75);
  a.signin {
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  > a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	&:hover {
	  color: #f1f1f1;
	}
  }
  .user-block {
	background: $darkerGrey;
	padding: 8px 8px 8px 32px;
	.user-area {
	  display: flex;
	  flex-direction: row-reverse;
	  align-items: center;
	  justify-content: flex-end;
	  align-content: center;
	  .username { color: $primary; }
	}
  }
  .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	cursor: pointer;
  }
}
#side-nav-trigger { display: none; cursor: pointer; }

@include mq('desktop-wide', 'max') {
  header#main-header .header-aside.header-right .user-area {
	display: none !important;
  }
  header#main-header .header-aside {
	&.header-left .icons { display: none; }
  }
  header#main-header {
	flex-direction: row-reverse;
	.user-area {
	  a.signin {
		display: none;
	  }
	}
  }
  header#main-header .header-center-container .navigation {
	display: none;
  }
  #side-nav-trigger {
	display: inline-block;
  }
}

@include mq('desktop-wide', 'max') {
  header#main-header {
	max-height: 100px;
	height: 100px;
  }
}

@include mq('phone', 'max') {
  header#main-header .header-center-container .brand-holder {
	width: 120px;
  }
}
