@import '../lib/scss/mixins';

.flex-box {
  width: 100%;
  max-width: 100%;
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 400px;
  position: relative;
  .fbi {
    margin: 5px;
    position: relative;
    max-width: calc(33.3334% - 10px);
    width: calc(33.3334% - 10px);
    height: 180px;
    &.fbi-tall { min-height: 370px; }
    &.fbi-wide { min-height: 370px; width: calc(66.6667% - 10px); max-width: calc(66.6667% - 10px); }
  }
}

/* article items */
.article-item {
  background: white;
  display: flex;
  position: relative;
  flex-direction: column;

  &.fbi-wide {
    .image {
      max-width: 50%;
    }
  }

  .body {
    margin: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    //min-height: 50%;
    min-width: 40%;
    flex: 1;
    .title, .title a {
      color: $dark;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      padding: 0;
      margin: 0 0 10px 0;
      &.title-large {
        font-size: 30px;
      }
    }
    .info {
      margin-bottom: 10px;
    }
    p.teaser {
      min-height: 75px;
      max-height: 100px;
      line-height: 25px;
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      font-size: 14px;
    }
    .footer {
      margin-top: auto;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
      .more {
        background: $primary;
        padding: 3px 10px 3px 10px;
        color: $light;
      }
    }
  }
  .image {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-positon: center center;
    border-bottom: 10px solid orange;
    background-color: $dark;
    position: relative;
    .mask {
      background: $primary;
      opacity: 0.2;
      width: 100%;
      height: 100%;
    }
  }
}

.home-section-header {
  min-width: 200px;
  max-width: 300px;
  margin: 0 auto;
  height: 40px;
  line-height: 30px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  -webkit-clip-path: polygon(15% 100%, 85% 100%, 100% 0, 0 0);
  clip-path: polygon(15% 100%, 85% 100%, 100% 0, 0 0);
}

.container-full.top-sponsors-container-full {
  margin-top: 50px;
}

.container.headline-container .article-item {
  &:first-child {
    flex-direction: row;
    .image {
      min-width: calc( 50% + 5px);
      min-height: 100%;
      border-bottom: 0;
      border-right: 10px solid orange;
    }
  }
}

.container-full.headline-container-full { padding-bottom: 50px; }
.container-full.article-container-full {
  background: black;
  padding-bottom: 50px;
  .home-section-header {
    background-color: #e8e8e8;
    margin-bottom: 50px;
    color: $primary;
  }
}
.container-full.match-container-full {
  padding-top: 0;
  padding-bottom: 50px;
  .home-section-header {
    background-color: $dark;
    margin-bottom: 50px;
    color: $primary;
  }
}
.container-full.squad-container-full {
  background: black;
  border-bottom: 10px solid $primary;

  .home-section-header {
    background-color: #e8e8e8;
    margin-bottom: 50px;
    color: $primary;
  }
}

.container.article-container {
  .featured-content {
    background: white;
    padding: 10px;
    position: relative;
    
    .body {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .image {
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        min-width: 100%;
        min-height: 230px;
      }
      .content {
        overflow: hidden;
        position: relative;
  
        .title {
          padding-top: 0;
          margin-top: 0;
          margin-bottom: 15px;
        }
        .info {
          display: flex;
          justify-content: space-between;
          align-content: center;
          align-items: center;
          .teaser {
            font-weight: bold;
            font-size: 16px;
            color: $primary;
          }
        }
      }
    }

  }
}
.container.headline-container {  background: black; }
.container.match-container {
    background: $dark;
    .widget {
        //padding-top: 5px;
        //padding-bottom: 5px;
        position: relative;
        display: flex;
        flex-direction: column;
        > .widget-title {
          overflow: hidden;
          height: 50px;
          max-height: 50px;
          line-height: 50px;
          //margin-bottom: 10px;

          > * {
            font-size: 26px;
            padding-bottom: 10px;
            margin: 0;
            //display: inline-block;
            //border-bottom: 5px solid $primary;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 1px;
            color: white;
          }
        }
        > .widget-body {
          flex: 1;
          position: relative;
          display: flex;
          flex-direction: column;
          height: 100%;
          overflow: hidden;
         // background: $darkgrey;
          .footer {
            margin-top: auto;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
            .more {
              background: $primary;
              padding: 3px 10px 3px 10px;
              color: $light;
            }
          }
        }
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          li {

            border-bottom: 1px solid $darkergrey;

            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            line-height: 50px;

            height: 50px;
            color: lighten($darkergrey, 20);

            font-family: 'Noto Sans', sans-serif;

          }
        }
      }
    .widget.widget-last-matches {
      //background: darken($darkergrey, 20);
    }
    .widget.widget-top-match {
      .widget-body {
        display: flex;
        flex-direction: column;

        .match-info {
          text-align: center;
          > .event-name {
            color: $primary;
            font-weight: bold;
          }
          > .game {
            font-weight: 400;
            text-transform: uppercase;
            color: $lightgrey;
          }
        }
        .result-holder {
          display: flex;
          justify-content: space-between;
          padding-top: 15px;
          height: 150px;
          max-height: 150px;
          border-bottom: 1px solid $darkergrey;
          .result {
            color: $primary;
            font-size: 40px;
            font-weight: bold;
          }
          .team-logo-holder {
            width: 101px;
            height: 101px;
            min-width: 101px;
            min-height: 101px;
            border-radius: 1px;
            max-width: 101px;
            max-height: 101px;

            position: relative;
            .team-logo {
              background-size: contain;
              background-position: center center;
              width: 100%;
              height: 100%;
              border: 1px solid $darkergrey;
            }
          }
        }
      }
    }
    .widget-last-matches, .widget-event-list, .widget-top-match
    {
      position: relative;
      display: flex;
      flex-direction: column;
      .team, .name {
        flex: 1;
      }
      .score {
        align-self: flex-end;
        //font-size: 16px;
        font-weight: bold;
        color: $primary;
      }
      .enemy-name {
        //font-weight: 700;
        color: $lightgrey;
        font-size: 13px;
      }
      .event-name {
        // font-weight: 700;
        color: $lightgrey;
        flex: 1;
        font-size: 13px;
      }
      .event-date {
        color: $primary;
        //font-size: 16px;
        font-weight: bold;
      }
      .game {
        background: $darkergrey;
        color: $light;
        margin-right: 7px;
        text-align: center;
        min-width: 50px;
        max-width: 50px;
        min-height: 20px;
        max-height: 20px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 50px;
        overflow: hidden;
        text-transform: uppercase;
        border-radius: 1px;
        font-size: 10px;
        font-weight: 400;
      }

    }
}
.container.squad-container {
  background: $dark;
  min-height: 450px;
  height: 450px;
  position: relative;

  .squad {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-position: bottom center;
    .squad-game {
      height: 120px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      color: $light;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 2px;
    }
    .players {
      width: 100%;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      align-content: flex-end;
      .player {
        width: 200px;
        height: 260px;
        position: relative;
        display: flex;
        align-content: flex-end;
        align-items: flex-end;
        padding: 0px 10px 10px 10px;
        color: $light;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: bold;
        background-size: contain;
        background-position: center bottom;
        background-repeat: no-repeat;
        .nameplate {
          background: $primary;
          width: 100%;
          height: 30px;
          line-height: 30px;
          text-align: center;
          a {
            color: $light;
            &:hover { color: $light; }
          }
        }
      }
    }
  }
}


@include mq('desktop', 'max') {
  .container-full.squad-container-full  {
    display: none;
  }
  .container-full.headline-container-full { padding-bottom: 0; }
  .container-full.article-container-full { margin-top: 15px; padding-bottom: 0; padding-top: 0}
  .container-full.match-container-full {
    //margin-left: -15px;
    //margin-right: -15px;
    //min-width: calc(100% + 15px);
    min-width: 100%;
    padding-bottom: 0;
    //padding-top: 15px;

    border-bottom: 10px solid $primary;
  }
}

@include mq('tablet-wide', 'max') {
  .home-section-header {
    display: none;
  }
  .container-full.top-sponsors-container-full, .container-full.footer-sponsors-container-full {
    display: none;
  }
  .container-full.headline-container-full,
  .container-full.article-container-full {
    margin-left: -15px;
    //margin-right: -15px;
    min-width: calc(100% + 30px);

  }
  .container.headline-container {
    .flex-box {
      flex-direction: column;
      max-height: none !important; }
    .fbi {
      min-width: calc(100% - 10px);
      &.article-item {
        &:nth-child(2) {
          flex-direction: row-reverse;
          .image {
            min-width: calc( 50% + 5px);
            max-width: calc( 50% + 5px);
            min-height: 100%;
            border-bottom: 0;
            border-left: 10px solid orange;
          }
        }
      }
    }
  }
  .container-full.article-container-full {
    //background: $primary;
    margin-top: -10px;
    .container.article-container {
      .fbi {
        min-width: calc(50% - 10px);
        &.article-item { &:nth-child(4), &:nth-child(3) { display: none !important; } }
      }
    }
  }
  .container-full.match-container-full {
    display: none;
    padding-top: 0;
    .container.match-container {
      .fbi {
        min-width: calc(50% - 10px);
        &.event-list { display: none !important; }
      }
    }
  }
}

@include mq('tablet', 'max') {

  .container-full.headline-container-full > .container.headline-container,
  .container-full.article-container-full  > .container.article-container {
    .flex-box .fbi.article-item {
      min-width: calc(100% - 10px);
      width: calc(100% - 10px);
    }
  }
  .container-full.article-container-full  {
    margin-top: -10px;
    .container.article-container {
      background: $dark;

    .flex-box .fbi.article-item {
      min-height: 180px;
      max-height: 180px;
    }
    .featured-content {
      display: none;
    }
  }
  }

  .container-full.headline-container-full > .container.headline-container {
    .flex-box .fbi.article-item {
      min-height: 180px;
      max-height: 180px;
    }
  }
}

@include mq('tablet', 'max') {

  .container.headline-container {

    .article-item {
      // do something
    }

  }
  .container.article-container {

    .flex-box {
      flex-direction: column;
      max-height: none;
      .fbi {
        min-width: calc(100% - 10px) !important;
        min-height: 370px;
        &.article-item { &:nth-child(4), &:nth-child(3) { display: none !important; } }
      }
    }
  }
}


/*
.home-grid
{
  padding-top: 10px;
  padding-bottom: 10px;

  @supports ( display: flex )
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @supports ( display: grid )
  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: dense;

    grid-gap: 20px;

    padding-top: 20px;
    padding-bottom: 20px;

    :nth-child(1) { grid-column: span 2; }
    :nth-child(7) { grid-column: span 2; }

    @include mq('tablet', 'max')
    {
      grid-template-columns: 1fr;

      .grid-item { grid-column: span 1; }
    }
  }

}
.grid-item
{
  position: relative;
  overflow: hidden;

  margin: 10px;

  float: left;

  width: calc(33.3333% - 20px);
  max-width: calc(33.3333% - 20px);

  background: white;

  &:nth-child(1) { width: calc(66.6666% - 20px); max-width: calc(66.6666% - 20px) }
  &:nth-child(2) { width: calc(33.3333% - 20px); max-width: calc(33.3333% - 20px) }

  &:nth-child(6) { width: calc(33.3333% - 20px); max-width: calc(33.3333% - 20px) }
  &:nth-child(7) { width: calc(66.6666% - 20px); max-width: calc(66.6666% - 20px) }

  @supports ( display: flex ) { float: none; }

  @supports ( display: grid )
  {
    float: none;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin: 0;
  }

}

.match-event-container
{
  padding-top: 40px;
  padding-bottom: 40px;
  div.widget-group
  {
    background: black;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    align-content: stretch;
    position: relative;

    > div.widget {
      padding-bottom: 30px;
      padding-top: 20px;
      max-width: calc(33.3334% - 10px);
      min-width: calc(33.3334% - 10px);
      position: relative;
      display: flex;
      flex-direction: column;
      > div.widget-title {
        overflow: hidden;
        margin-bottom: 10px;
        > * {
          font-size: 26px;
          padding-bottom: 10px;
          margin: 0;
          //display: inline-block;
          border-bottom: 5px solid $primary;
          font-weight: bold;
          font-family: 'Montserrat', sans-serif;
          letter-spacing: 2px;
          color: white;
        }
      }
      > div.widget-body {
        flex: 1;
        position: relative;
        height: 100%;
        overflow: hidden;
      }
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          margin-top: 15px;

          display: flex;
          align-content: center;
          align-items: center;
          line-height: 24px;

          height: 24px;
          color: lighten($darkergrey, 20);

          font-family: 'Noto Sans', sans-serif;

        }
      }
    }
  }
  .widget.last-matches {
    padding-left: 15px;
    padding-right: 15px;
    background: darken($darkergrey, 20);
  }
  .widget.event-list {
    padding-right: 15px;
  }
  .widget.top-match {
    padding-left: 15px;
    .widget-body {
      display: flex;
      flex-direction: column;
      .match-info {
        flex: 1;
        text-align: center;
        > .event-name {
          color: $primary;
          font-weight: bold;
        }
        > .game {
          font-weight: 400;
          text-transform: uppercase;
          color: $lightgrey;
        }
      }
      .result-holder {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        height: 101px;
        max-height: 101px;
        background: darken($darkergrey, 20);
        .result {
          color: $primary;
          font-size: 40px;
          font-weight: bold;
        }
        .team-logo-holder {
          width: 101px;
          height: 101px;
          min-width: 101px;
          min-height: 101px;
          border-radius: 1px;
          max-width: 101px;
          max-height: 101px;
          padding: 5px;
          position: relative;
          .team-logo {
            background-size: contain;
            background-position: center center;
            width: 100%;
            height: 100%;
            border: 1px solid $darkergrey;
          }
        }
      }
    }
  }
  .last-matches, .event-list
  {
    position: relative;
    display: flex;
    flex-direction: column;
    .team, .name {
      flex: 1;
    }
    .score {
      align-self: flex-end;
      //font-size: 16px;
      font-weight: bold;
      color: $primary;
    }
    .enemy-name {
      //font-weight: 700;
      color: $lightgrey;
      font-size: 13px;
    }
    .event-name {
      // font-weight: 700;
      color: $lightgrey;
      flex: 1;
      font-size: 13px;
    }
    .event-date {
      color: $primary;
      //font-size: 16px;
      font-weight: bold;
    }
    .game {
      background: $darkergrey;
      color: $light;
      margin-right: 7px;
      text-align: center;
      min-width: 50px;
      max-width: 50px;
      min-height: 20px;
      max-height: 20px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 50px;
      overflow: hidden;
      text-transform: uppercase;
      border-radius: 1px;
      font-size: 10px;
      font-weight: 400;
    }

  }
  .event-list {

  }
}

#featured-squad-full-container
{
  background: $dark;
  border-bottom: 5px solid $primary;
  min-height: 450px;
  height: 450px;
  position: relative;

  > .container {
    min-height: 100%;
    height: 100%;
    position: relative;
  }

  .squad
  {

    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-position: bottom center;
    .squad-game
    {

      height: 120px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      color: $light;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 2px;
    }
    .players
    {
      width: 100%;

      flex: 1;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      align-content: flex-end;
      .player
      {
        width: 200px;
        height: 260px;
        position: relative;
        display: flex;
        align-content: flex-end;
        align-items: flex-end;
        padding: 0px 10px 10px 10px;
        color: $light;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: bold;
        background-size: contain;
        background-position: center bottom;
        background-repeat: no-repeat;
        .nameplate
        {
            background: $primary;
            width: 100%;
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
      }
    }
  }
}

@include mq('tablet-wide', 'max') {
  #featured-squad-full-container, #home-match-container-full {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
  #home-match-container-full {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .match-event-container {
    .widget-group .widget {
      min-width: 50% !important;
      padding-left: 15px;
      padding-right: 15px;
    }
    .widget-group .widget.event-list {
      display: none !important;
    }
  }
}
@include mq('tablet-small', 'max') {
  .match-event-container {
    .widget-group {
      flex-direction: column !important;;
    }
    .widget-group .widget {
      min-width: 100% !important;;
    }
  }
}

*/