{% extends 'block.full.html.twig' %}

{% block content %}

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <div class="container">
        <div id="auth-area">
            <div class="form-holder">
                <form-login v-show="tab === 1"></form-login>
                <form-register v-show="tab === 2"></form-register>
                {% verbatim %}
                <nav class="form-nav">
                    <button v-on:click="switchOrLogin()">LOGIN</button>
                    <button v-on:click="switchOrRegister()">REGISTER</button>
                </nav>
                {% endverbatim %}
            </div>
            <div class="brand">
                <picture>
                    <source type="image/svg+xml" srcset="static/drawable/logo-white-orange.svg">
                    <img src="static/drawable/logo-white-orange.png"  alt="Logo description">
                </picture>
            </div>
        </div>
    </div>

    {% verbatim %}

        <script type="text/x-template" id="template-form-login">
            <form id="form-login" class="auth-section-tab">

                <h1 class="title">Login</h1>

                <div class="input-field">
                    <input placeholder="Email" type="text" name="email" v-model="form.email">
                </div>

                <div class="input-field">
                    <input placeholder="Password" type="password" name="password" v-model="form.password">
                </div>
            </form>
        </script>

        <script type="text/x-template" id="template-form-register">
             <form id="form-register" class="auth-section-tab">

                <h1 class="title">Register</h1>

                <div class="input-field">
                    <input placeholder="Email"  type="text" name="email" v-model="form.email">
                </div>

                <div class="input-field">
                    <input placeholder="Password" type="password" name="password" v-model="form.password">
                </div>

                <!--
                <div class="input-field captcha-field">
                    <div class="g-recaptcha" data-sitekey="6Leo800UAAAAABUGOgPbrDlYxhq_VpcVwvRIk1qs"></div>
                </div>-->
            </form>
        </script>

    {% endverbatim %}

    <script>

        (function($, Vue){

            var EventBus = new Vue();

            Vue.component('form-login', {
                template: '#template-form-login',
                data: function () {
                    return {
                        form: {
                            email: 'sno@sno.com',
                            password: 'admin'
                        }
                    }
                },
                methods: {
                    postLogin : function( cb )
                    {
                        $.post( '/postLogin', this.form )
                            .then(function( response )
                            {
                                cb(response)
                            })
                            .catch(function(error)
                            {
                                cb(false)
                            })
                        ;
                    }
                },
                created : function(){
                    EventBus.$on('postLogin', function( cb )
                    {
                        this.postLogin( cb );
                    }.bind(this));
                }
            });

            Vue.component('form-register', {
                template: '#template-form-register',
                data: function () {
                    return {
                        form: {
                            email: 'sno@sno.com',
                            password: 'admin'
                        }
                    }
                },
                methods: {
                    postRegister : function( cb )
                    {
                        $.post( '/postRegister', this.form )
                            .then(function( response )
                            {
                                cb(response)
                            })
                            .catch(function(error)
                            {
                                cb(false)
                            })
                        ;
                    }
                },
                created : function(){
                    EventBus.$on('postRegister', function( cb )
                    {
                        this.postRegister( cb );
                    }.bind(this));
                }
            });

            var app = new Vue({
                el: '#auth-area',
                components: [ 'form-login', 'form-register' ],
                data: function () {
                    return {
                        tab: 1,
                    }
                },
                methods: {
                    switchOrLogin: function()
                    {
                        if(this.tab === 2) return this.tab = 1;

                        EventBus.$emit('postLogin', function( response )
                        {

                        }.bind(this));
                    },
                    switchOrRegister: function()
                    {
                        if(this.tab === 1) return this.tab = 2;

                        EventBus.$emit('postRegister', function( response )
                        {

                        }.bind(this));
                    }
                },
                created : function(){

                }
            });

        }( jQuery, Vue ));

    </script>

{% endblock %}