{% extends 'block.full.html.twig' %}

{% block content %}

    <div class="container-full route-container" id="route-view-about">
        <div class="container about-view-container" id="about-view">
            foobar
        </div>
    </div>

{% endblock %}
