{% extends 'block.full.html.twig' %}

{% block content %}

    <div class="container-full " id="route-view-product-list">
        <div class="container product-list-container" id="product-list">
            product list
        </div>
    </div>

{% endblock %}
