#route-view-product-view {
  overflow: visible;
  position: relative;
  #product-view {
    padding: 15px 0 15px 0;
    .product {
      display: flex;
      flex-direction: row;
      .product-gallery {
        padding-right: 15px;
        width: 340px;
        position: relative;
        > div {
          margin-top: -15px;
        }
      }
      .product-desc{
        padding: 15px;
        flex: 1;
        background: $light;
        .name {
          font-size: 35px;
          color: $primary;
          padding: 0 0 15px 0;
          font-weight: bold;
        }
        .price {
          font-size: 20px;
          font-family: 'Montserrat', sans-serif;
          color: $dark;
        }
        .stock {
          color: #42b983;
        }
        .description {

        }
        .order-details {
          background: $lightgrey;
          padding: 15px;

          form {
            display: flex;
            justify-content: space-between;

            .order-summary {
              display: flex;
              align-content: center;
              align-items: center;
            }
            .total {
              font-size: 18px;
              font-weight: bold;
            }
            .input-field {
              width: 70px;
              margin: 0;
              padding-right: 10px;
              input[name="quantity"] {
                text-align: center;
              }
            }
            .checkout-button {
              font-weight: bold;
              background: #205ea8;
            }
          }
        }
        .buy {
          border-top: 1px solid $lightgrey;
          margin-top: 10px;
          padding-top: 10px;
          .buy-button {
            width: 100%;
            font-weight: bold;
          }
        }
      }
    }

    #modal-product-gallery {

      .modal-footer {
        display: none;
      }

      .gallery-holder {
        position: relative !important;
        overflow: hidden;
        width: 100%;
        background: $lightgrey;

        .currentImageHolder {
          width: 100%;
          min-height: 430px;
          position: relative;

          background-color: $lightgrey;
        }

        .currentImage {
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          min-height: calc(100% - 30px);
          top:15px; left: 15px; bottom: 15px; right: 15px;
        }
        .thumb-slide {
          width: 100%;
          max-width: 100%;
          overflow-x: scroll;
          overflow-y: hidden;
          min-height: 100px;
          position: relative;
          display: flex;
        }
        .thumbs {
          overflow-x: scroll;
          overflow-y: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          flex-wrap: nowrap;
          background: $lightgrey;
          padding: 15px;
          flex: 1;
          position: absolute;
          .thumb {
            cursor: pointer;
            margin: 0 7px 0 7px;
            width: 100px;
            min-width: 100px;
            height: 65px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
            &.active {
              border: 2px solid $primary;
            }
            &:hover {
              border: 2px solid $primary;
            }
          }
        }
      }
    }
  }
}

@include mq('tablet', 'max') {
  #modal-product-gallery {
    .currentImage {
      max-height: 300px !important;
    }
  }
}