
.infinite-grid {
  
  .gallery-item {
	padding-bottom: 20%;
	position: relative;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	.wrapper {
	  position: absolute;
	  top: $spaceDefault;
	  bottom: $spaceDefault;
	  left: $spaceDefault;
	  right: $spaceDefault;
	  display: flex;
	  align-items: center;
	  flex-direction: column-reverse;
	}
	.title {
	  position: relative;
	  z-index: 1;
	}
	.image {
	  z-index: 0;
	  display: block;
	  min-width: 100%;
	  min-height: 100%;
	  position: absolute;
	}
	&:hover {
	  background: $primary;
	}
	@include mq('tablet-wide', 'max') {
	  padding-bottom: 30%;
	}
	@include mq('tablet', 'max') {
	  padding-bottom: 55%;
	}
  }
  
}