{% extends 'block.full.html.twig' %}

{% block content %}
    <div class="container-full route-container" id="route-view-media-overview">
        <div class="container media-overview-container">
            media
        </div>
    </div>
{% endblock %}