#route-view-match-list {

  .container.match-list-container
  {
    min-height: 100%;
    padding-top: 15px;
    .search-match {
      margin-bottom: 15px;
      min-width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      height: 40px;
      line-height: 40px;
      .info {
        text-align: left;
        background: $primary;
        color: $light;
        padding-left: 15px;
        padding-right: 15px;
        font-family: 'Noto Sans', sans-serif;
      }
      .form {
        height: 100%;
        position: relative;
        width: calc(50%);
        display: flex;
        justify-content: flex-end;
        > * { height: 100%; }
        input {
          background: $light;
          margin-right: 15px;
          font-size: 16px;
          padding-left: 10px;
          flex: 1;
        }
        button {
          border: none;
          background: $primary;
          color: $light;
          font-weight: bold;
          padding-left: 15px;
          padding-right: 15px;
          width: 100px;
        }
      }
    }
    article.match {
      background: $light;
      min-height: 50px;
      margin-bottom: 15px;
      //border-bottom: 10px solid $lightgrey;
      color: $darkergrey;

      .inline-info {
        display: flex;
        align-items: center;
        align-content: center;
        cursor: pointer;
        padding: 15px;
        .left {
          flex: 1;
          display: flex;
          align-items: center;
          align-content: center;
        }
        .right {

        }
        .game {
          background: $darkergrey;
          color: $light;
          margin-right: 7px;
          text-align: center;
          min-width: 50px;
          max-width: 50px;
          min-height: 20px;
          max-height: 20px;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          width: 50px;
          overflow: hidden;
          text-transform: uppercase;
          border-radius: 1px;
          font-size: 10px;
          font-weight: 400;
        }
        .score {
          align-self: flex-end;
          //font-size: 16px;
          font-weight: bold;
          color: $primary;
        }
      }
      .block-info {
        display: none;
        overflow: hidden;
        background: $darkgrey;
        padding: 0px 15px 0 15px;

        .map {
          height: 40px;
          line-height: 40px;
          border-bottom: 1px solid $darkergrey;
          display: flex;
          color: $lightgrey;
          .name {}
          .score {
            font-weight: bold;
            color: $primary;
          }
          .left { flex: 1; }
          .right {}
          &:last-child {
            border: none;
          }
        }
      }
    }
    .loading-matches {
      text-align: center;
      padding-bottom: 40px;
      padding-top: 20px;
      overflow: hidden;
    }
  }
}

@include mq('tablet', 'max') {
  #route-view-match-list .container.match-list-container {
    .info {
      display: none;
    }
    .form {
      min-width: 100%;
    }
  }
}
