{% extends 'block.full.html.twig' %}

{% block content %}
<div class="container-full route-container" id="route-view-article-read">
    <div class="container">
        <div class="container article-read-container" id="article-read">
            <article class="article-content">
                <h2 class="title">
                    {{ article.title }}
                </h2>
                <p class="teaser">
                    {{ article.teaser }}
                </p>
                <p class="article">
                    {{ article.content }}
                </p>
            </article>
        </div>
        {% if (article.comments_enabled == true ) %}
        <div class="container article-comments-container" id="article-comments">
            {% include 'widget.comments.html.twig' with { comments : comments, model : 'article' , model_id : article.id } %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
