{% extends 'block.full.html.twig' %}

{% block content %}

{% verbatim %}
<div class="container-full" id="view-profile">
	<div class="container-full route-header profile-route-header">
		<div class="container profile-header-container">
			<div class="username">
				<h1></h1>
				<h3>DANIEL KEMENY</h3>
			</div>
			<input type="file"
				   style="display: none; opacity: 0; visibility: hidden; position: absolute; width: 0; height: 0;
			">
			<div class="user-image" v-on:click="browse()" style="background: url()"></div>
		</div>
	</div>

	<div class="container-full">
		<div class="container container-user-details" style="height: 800px;">
			foo
		</div>
	</div>
</div>
{% endverbatim %}

<script>

(function($, Vue){

	var app = new Vue({
		el: '#view-profile',
		data: function () {
			return {

			}
		},
		methods: {
			browse(){
				this.getFileInput().trigger('click');
			},
			profileImageInput( event ){
				this.uploadFile( event.target.files, 'profile_picture' ).then(function( filepath ){
					console.log(filepath)
				}).catch(function(){
					console.log('rejected')
				});
			},
			coverImageInput( event ){
				this.uploadFile( event.target.files, 'cover_picture' ).then(function( filepath ){

				}).catch(function(){

				});
			},
			uploadFile( files, name ){
				return new Promise(function( resolve, reject ){
					console.log(files[0])
					var firstFile = files[0];
					var fd = new FormData;
					fd.append( name, firstFile, firstFile.name );

					$.ajax({
						url: "/uploadUserPicture",
						type: "POST",
						data:  fd,
						xhr: function() {
							var xhr = new window.XMLHttpRequest();
							xhr.upload.addEventListener("progress", function(evt) {
								if (evt.lengthComputable) {
									var percentComplete = evt.loaded / evt.total;
									percentComplete = parseInt(percentComplete * 100);
									console.log(percentComplete);
									if (percentComplete === 100) {

									}
								}
							}, false);
							return xhr;
						},
						contentType: false,
						processData:false,
						beforeSend: function(){

						},
						success: function(response)
						{
							resolve(response);
						},
						complete: function(xhr) {

						},
						error: function()
						{
							reject(false);
						}
					});
				});
			},
			getFileInput(){
				return $(this.$el).find('#profile_image_input');
			}
		},
		created(){

		}
	});

}( jQuery, Vue ));

</script>

{% endblock %}