{% extends 'block.full.html.twig' %}

{% block content %}
<div class="container-full" id="route-view-article-read">
    <div class="container article-read-container" id="article-read">
        <article class="article-content">
            <h2 class="title">
                {{ article.title }}
            </h2>
            <p class="teaser">
                {{ article.teaser }}
            </p>
            <p class="article">
                {{ article.content }}
            </p>
        </article>
        <div>
            {% include 'widget.comments.html.twig' with { comments : comments, model : 'article' } %}
        </div>
    </div>
</div>

{% endblock %}
