{% extends 'block.full.html.twig' %}

{% block content %}

<div class="container-full" id="route-view-user-password-activate">
    <div class="container activate-password-container" id="contact-sent-container">
        <div class="contact-sent-area">
            <div class="msg success">Yor message has been successfully sent! <a href="/home">Click to back home!</a></div>
        </div>
    </div>
</div>

{% endblock %}