{% extends 'block.full.html.twig' %}

{% block content %}

    <div class="container-full " id="route-view-product-view">
        <div class="container product-view-container" id="product-view">
            product view
        </div>
    </div>

{% endblock %}
