<div class="head">
	<h1 class="title">EVENTS</h1>
	<div><a href="/events" class="more-button uc-text">Show More &raquo;</a></div>
</div>
<ul class="event-list">
	{% for ek, event in events %}
		<li>
			<a href="/event/{{ event.getName()}}" class="name">{{ event.getName()}}</a>
			<span class="date more-button outlined uc-text">{{ event.getStartDate()|date('d M Y')}}</span>
		</li>
	{% endfor %}
</ul>