{% extends 'block.full.html.twig' %}

{% block content %}

    <div class="container" id="article-area">
        <article class="article-content">
            <h2 class="title">Lorem ipsum dolor sit amet consectetur</h2>
            <p class="teaser">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <p class="article">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            </p>
        </article>

        <!-- comments -->
        <div id="article-comments">
            <comment-tree v-bind:level="0" v-bind:comments="comments"></comment-tree>
        </div>
    </div>

    {% verbatim %}

        <script type='x-template' id='template-comment-tree'>
            <div class="comment-tree">
                <comment-tree-item
                    v-if="index < limit"
                    v-for="(comment,index) in model"
                    v-bind:level="level"
                    v-bind:comment="comment"
                    class="comment"></comment-tree-item>

                <div class="show-more" v-if="comments.length > limit">
                    <button v-on:click="showMore" class="show-more-toggle">
                        {{ limit === 0 ? 'Show Replies (' + comments.length + ')' : 'Show More'}}
                    </button>
                </div>
            </div>
        </script>

        <script type='x-template' id='template-comment-tree-item'>
            <div class="comment">
                <div class="content">
                    <div class="user-picture"></div>
                    <div class="body">
                        <p><a class="username">{{ data.username }}&nbsp;</a>{{ data.text }}</p>
                        <div class="controls">
                            <div v-on:click="replyForm.show = !replyForm.show" class="reply-trigger">Reply</div>
                            <div class="reply-form" v-if="replyForm.show">
                                <input class="reply-input" v-model="replyForm.text" type="text" placeholder="Write your reply..">
                                <button v-bind:disabled="replyForm.text.length === 0" v-on:click="newReply()">Post Reply</button>
                            </div>
                        </div>
                    </div>
                </div>
                <comment-tree
                    v-if="data.ch && data.ch.length > 0"
                    v-bind:level="level + 1"
                    v-bind:comments="data.ch"></comment-tree>
            </div>
        </script>

    {% endverbatim %}

    <script type="text/javascript">

    (function($, Vue){

        var __COMMENTS__ = {% autoescape false %}{{ comments }}{% endautoescape %};
        // level n -> limits[n]
        var __LIMITS__ = [ 20, 4, 2 ];

        Vue.component('comment-tree', {
            template: '#template-comment-tree',
            props: ['comments', 'level'],
            data: function () {
                return {
                    limit : 0,
                    model: []
                }
            },
            methods: {
                showMore: function(){
                    this.limit+=2;
                },
            },
            created: function(){
                this.model = this.comments;
                this.limit = __LIMITS__[this.level] ? __LIMITS__[this.level] : this.limit;
            },
            watch: {
                comments: function( val ){
                    this.model = val;
                }
            }
        });

        Vue.component('comment-tree-item', {
            template: '#template-comment-tree-item',
            props: ['comment','level'],
            data: function () {
                return {
                    data: {
                        ch: []
                    },
                    replyForm: {
                        show: false,
                        text: '',
                    }
                }
            },
            created: function(){
                this.data = Object.assign(this.data, this.comment);
            },
            watch: {
                comment: function ( val ) {
                    this.data = Object.assign(this.data, this.comment);
                },
            },
            methods: {
                newReply: function()
                {
                    if(!this.replyForm.text) return false;

                    var self = this;

                    $.post('/storeComment', { pid: this.data.id, text: this.replyForm.text } ).then(function(response){
                        self.data.ch.unshift(response);
                        self.$emit('newReply', response);
                        self.replyForm.text = '';
                    });
                }
            }
        });

        var app = new Vue({
            components: ['comment-tree', 'comment-tree-item'],
            el: '#article-comments',
            data: function () {
              return {
                comments: __COMMENTS__,
              }
            },
            methods: {
                postComment: function(){

                },
                syncComments:function()
                {
                    var self = this;

                    $.post('/syncComments', { } ).then(function(response){
                        self.comments = response;
                    });
                }
            },
            created: function()
            {
                var self = this;

                setInterval(function(){
                    self.syncComments();
                }, 20000);
            }
        });

    }(jQuery, Vue));
    </script>

{% endblock %}
