{% extends 'index.html.twig' %}

{% block content %}

    <div class="container-full top-sponsor-row">
        {% include 'widget.sponsor.inline.html.twig'
            with {
            items: {
                'corsair'      : 'https://cdn.worldvectorlogo.com/logos/corsair-2.svg',
                'razer'        : 'https://seeklogo.com/images/R/razer-logo-B4E375B409-seeklogo.com.png',
                'steelseries'  : 'http://cerebral-overload.com/wp-content/uploads/2017/11/Steelseries-Logo.png',
            },
            limit: null,
            class: 'widget-sponsor-top'
        }
            only
        %}
    </div>
    <div class="container">
        <article class="widget-featured-news">
            ft-news
        </article>
    </div>
    <div class="container">
        <article class="widget-last-news">
            lt-news
        </article>
        <article class="widget-featured-any">
            ft-any
        </article>
    </div>
    <div class="container">
        <article class="widget-featured-team">
            ft-team
        </article>
    </div>

{% endblock %}