{% extends 'block.full.html.twig' %}

{% block content %}

<div class="container-full" id="route-view-contact">
    <div class="container contact-container" id="contact-area">
        {% verbatim %}
        <form id="contact-form">

            <h2 class="form-title">CONTACT</h2>

            <div class="input-field">
                <input type="email" name="email" v-model="fields.email" placeholder="Your email" required>
            </div>

            <div class="input-field">
                <textarea name="message" v-model="fields.message" rows="5" required></textarea>
            </div>

            <div class="input-field">
                <select name="target" v-model="fields.target" required>
                    <option>John Doe</option>
                    <option>John Doe2</option>
                    <option>Administrator</option>
                </select>
            </div>

            <button class="button button-primary">SEND</button>
        </form>
        {% endverbatim %}
    </div>
</div>

<script>

    $(document).ready(function(){

        (function($, Vue){

            new Vue({
                el : "#contact-area",
                data : function(){
                    return {
                        fields: {
                            email: null,
                            message: null,
                            target: null
                        }
                    }
                },
                methods : {
                    postMessage : function(){

                    }
                },
                created : function(){
                    console.log('foo')
                }
            });

        }(jQuery, Vue));

    });

</script>

{% endblock %}
