{% extends 'block.full.html.twig' %}

{% block content %}

    <div class="container-full route-container" id="route-view-about">
        <div class="container-full route-header" style="background-image: url(static/images/route_header.jpg)">
            <span><h1 class="title bg-text uc-text">ABOUT US</h1></span>
        </div>
        <div class="container bg-light pad-2x box-shadow-1 round-2 about-view-container" id="about-view">
            <p class="paragraph big-p">{{ text|raw  }}</p>
        </div>
    </div>

{% endblock %}
