
#route-view-article-read {
  //padding-top: 15px;
  padding-bottom: 15px;
  overflow: visible;
  #article-read {
    flex: 1;
    height: 100%;
    min-height: 100%;
    overflow: visible;
    background: $light;
    margin-bottom: 15px;
    article.article-content {
      font-family: 'Montserrat', sans-serif;
      border-bottom: 10px solid $lightgrey;
      padding: 30px;
      h2.title {
        font-size: 50px;
        color: $primary;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        margin: 0;
        line-height: 60px;
      }
      p {
        line-height: 1.9em;
      }
      p.teaser {
        font-size:20px;
        font-weight: 500;
        color: $dark;
        font-family: "Noto Sans", sans-serif;
      }
      p.article {
        font-family: "Noto Sans", sans-serif;
        font-size: 16px;
        color: $darkgrey;
      }
    }
  }
  #article-comments {
    padding: 40px;
    background: $light;
    border-bottom: 10px solid $lightgrey;
  }
}
