#route-view-product-view {
  overflow: visible;
  position: relative;

  #product-view {

    padding: 15px 0 15px 0;

    .product {

      display: flex;
      flex-direction: row;

      .product-gallery {
        border: 1px solid red;
        width: 340px;
        position: relative;
      }
      .product-desc{
        padding: 15px;
        flex: 1;
        background: $light;

        .name {
          font-size: 35px;
          color: $primary;
          padding: 0 0 15px 0;
          font-weight: bold;
        }
        .price {
          font-size: 20px;
          font-family: 'Montserrat', sans-serif;
          color: $dark;
        }
        .stock {
          color: #42b983;
        }
        .description {

        }
        .order-details {
          background: $lightgrey;
          padding: 15px;

          form {
            display: flex;
            justify-content: space-between;

            .order-summary {
              display: flex;
              align-content: center;
              align-items: center;
            }
            .total {
              font-size: 18px;
              font-weight: bold;
            }
            .input-field {
              width: 70px;
              margin: 0;
              padding-right: 10px;
              input[name="quantity"] {
                text-align: center;
              }
            }
            .checkout-button {
              font-weight: bold;
              background: #205ea8;
            }
          }
        }
        .buy {
          border-top: 1px solid $lightgrey;
          margin-top: 10px;
          padding-top: 10px;
          .buy-button {
            width: 100%;
            font-weight: bold;
          }
        }
      }
    }
  }

}
