
#route-view-user-profile-view
{
  padding-bottom: $spaceDefault;
  .container-full.route-header.profile-route-header
  {
    background: $dark;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: $spaceDefault;

    .user-brand
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      .profile-picture {
        width: 150px; height: 150px; min-width: 150px; min-height: 150px;
        &.my-profile-picture {
          cursor: pointer;
        }
      }
      .username { color: $primary; text-transform: uppercase; }
    }
    .icons {
        justify-content: center;
        margin-top: $spaceDefault;
      .icon {
        margin: $spaceDefault / 2;
      }
    }
  }

  > .container-full { margin-bottom: $spaceDefault; }
  .container { max-width: 900px; }

  .user-intro {
    max-width: 85%;
  }
  

  .container-user-gear {
    .type {
      text-transform: uppercase;
      font-weight: bold;
      color: $darkgrey;
      font-size: 12px;
    }
  }

  .container.container-user-bio { text-align: justify; }
  .container.container-user-gear,
  .container.container-user-comments
  {
     .container
     {
        margin-bottom: $spaceDefault / 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
       .left {
         display: flex;
         align-content: center;
         align-items: center;
       }
    }
  }

  .container.container-user-squad
  {

  }

  .container.container-user-comments
  {
    .profile-picture {
      min-width: 30px;
      width: 30px;
      min-height: 30px;
      height: 30px;
      max-width: 30px;
      max-height: 30px;
      margin-right: $spaceDefault / 2;
    }
  }

}

@include mq('tablet', 'max') {
  #route-view-user-profile-view
  {
    .container-full.route-header.profile-route-header {
      .user-intro {
        max-width: calc(100% - 30px);
      }
    }
  }
}

@include mq('phablet', 'max') {
  #route-view-user-profile-view
  {
    .container-full.route-header.profile-route-header {
      max-height: 300px !important;
      min-height: 300px;
      height: 300px;
      overflow: hidden;
      .user-intro {
        display: none;
      }
      .profile-picture {
        max-height: 140px !important;
        min-height: 140px !important;
        height: 140px !important;
        max-width: 140px !important;
        min-width: 140px !important;
        width: 140px !important;
      }
      .icons {

      }
    }
    .container.container-user-gear {
      .container {
        flex-direction: column;
        > * {
          min-width: 100%;
          text-align: center;
          line-height: 25px;
        }
      }
    }
    .container.container-user-comments {
      .datePosted {
        display: none;
      }
    }

  }

}



#modal-upload-profile-picture {

  #picture-area {
    width: 100%;
    margin: 0 auto;
  }
  
  .modal-body {
	padding-bottom: 0;
  }
  
  .modal-footer {
	padding: 15px 0 0 0;
    > div {
      min-width: 100% !important; display: flex;
      button {
        min-width: 50%;
      }
    }
  }

  #picture-area {
    position: relative;
    height: 300px;
    width: 100%;
  }
  #viewport {
    border: 3px dashed lighten($darkergrey, 40%);
    width: 100%;
    height: 300px;
	margin: 0 auto;
	overflow: hidden;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 2;
    cursor: pointer;

  }
  .hint {
    z-index: 1;
    margin: 3px;
    position: absolute ;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    top: 0; left: 0; right: 0; bottom: 0;
    background: $lightgrey;
    cursor: pointer;
  }
}

#modal-edit-profile
{
  .field-section {
    margin-bottom: $spaceDefault;
    border-bottom: 1px solid $lightgrey;
    &:last-child {
      margin: 0;
      border: none;
    }
  }
  .field-info {
    //display: none;
  }
  .country-predictions {
    position: absolute;
    background: $darkergrey;
    width: 100%;
    z-index: 10;
    color: $lightgrey;
    -webkit-box-shadow: 0 10px 20px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 10px 20px 2px rgba(0,0,0,0.3);
    box-shadow: 0 10px 20px 2px rgba(0,0,0,0.3);
    > div {
      padding: $spaceDefault $spaceDefault/2 $spaceDefault $spaceDefault / 2;
      border-bottom: 1px solid $darkgrey;
      border-left:  1px solid $darkgrey;
      border-right:  1px solid $darkgrey;
    }
  }
}

