{% extends 'block.full.html.twig' %}

{% block content %}

<div class="container-full " id="route-view-gallery-view">
    <div class="container-full route-header gallery-view-route-header">
        <div class="body">
            <div class="container gallery-header-container"><h2 class="title">{{ gallery.getName() }}</h2></div>
        </div>
       <div class="bg-image" style="background-image: url({{ gallery.requestHeaderImage() }})"></div>
    </div>
    <div class="container image-list-container" id="image-list">
        <div id="gallery-mosaic" class="photos">
            {% for ik, GalleryImage in gallery.getImages() %}
                <i data-src="{{ GalleryImage.requestImageUrl() }}"></i>
            {% endfor %}
        </div>
    </div>
</div>

<script>
	$(document).ready(function(){
		initPhotos($('#gallery-mosaic'));
    });
</script>

{% endblock %}
