{% extends 'block.full.html.twig' %}

{% block content %}

	<div class="container-full route-header profile-route-header">
		<div class="container profile-header-container">
			<div class="username">
				<h1>{{ user.getUserName() }}</h1>
				<h3>DANIEL KEMENY</h3>
			</div>
			<div class="user-image" style="background: url({{ user.requestProfilePicture() }})">

			</div>
		</div>
	</div>

	<div class="container-full">
		<div class="container container-user-details" style="height: 800px;">

		</div>
	</div>


    <div class="container" style="min-height: 100%; flex: 1; display: none;">
		<div id="profile-area">
    		{% verbatim %}
			<div class="profile-cover" style="display: none;">
				<div class="profile-image" v-on:click="browse()">

				</div>
				<input type="file" v-on:change="profileImageInput($event)" id="profile_image_input"
				name="profile_picture"
				style="display: none;">
			</div>
			{% endverbatim %}
			<div class="profile-details">
				<h2 class="title">USER'S DETAILS</h2>
				<ul class="detail-list">
					<li><span class="label">LABEL</span><span class="value">value</span></li>
					<li><span class="label">LABEL2</span><span class="value">22</span></li>
					<li><span class="label"></span><span class="value"></span></li>
					<li><span class="label"></span><span class="value"></span></li>
					<li><span class="label"></span><span class="value"></span></li>
				</ul>
			</div>
		</div>
    </div>

    <script>

			(function($, Vue){

				var app = new Vue({
					el: '#profile-area',
					//components: [ 'form-login', 'form-register' ],
					data: function () {
						return {

						}
					},
					methods: {
						browse(){
							this.getFileInput().trigger('click');
						},
						profileImageInput( event ){
							this.uploadFile( event.target.files, 'profile_picture' ).then(function( filepath ){
								console.log(filepath)
							}).catch(function(){
								console.log('rejected')
							});
						},
						coverImageInput( event ){
							this.uploadFile( event.target.files, 'cover_picture' ).then(function( filepath ){

							}).catch(function(){

							});
						},
					  	uploadFile( files, name ){
							return new Promise(function( resolve, reject ){
								console.log(files[0])
								var firstFile = files[0];
								var fd = new FormData;
								fd.append( name, firstFile, firstFile.name );

								$.ajax({
									url: "/uploadUserPicture",
									type: "POST",
									data:  fd,
									xhr: function() {
										var xhr = new window.XMLHttpRequest();
										xhr.upload.addEventListener("progress", function(evt) {
											if (evt.lengthComputable) {
												var percentComplete = evt.loaded / evt.total;
												percentComplete = parseInt(percentComplete * 100);
												console.log(percentComplete);
												if (percentComplete === 100) {

												}
											}
										}, false);
										return xhr;
									},
									contentType: false,
									processData:false,
									beforeSend: function(){

									},
									success: function(response)
									{
										resolve(response);
									},
									complete: function(xhr) {

									},
									error: function()
									{
										reject(false);
									}
								});
							});
						},
					  	getFileInput(){
							return $(this.$el).find('#profile_image_input');
						}
					},
					created(){

					}
				});

			}( jQuery, Vue ));

    </script>

{% endblock %}