{% extends 'block.full.html.twig' %}

{% block content %}

<div class="container-full" id="route-view-user-password-activate">
    <div class="container activate-password-container" id="activate-container">
        <div class="activation-area">
             {% if errors|length > 0 %}
                 <div class="msg error">
                {% for error in errors %}
                    <div>{{ error }}</div>
                {% endfor %}
                 </div>
             {% else %}
                 <div class="msg success">Your new password has been successfully activated. Click <a href="/auth">here</a> to log in!</div>
             {% endif %}
        </div>
    </div>
</div>

{% endblock %}