

#route-view-article-read {
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: visible;
}
#article-read {
  flex: 1;
  height: 100%;
  min-height: 100%;
  background: $light;
  overflow: visible;
  article.article-content {
    font-family: 'Montserrat', sans-serif;
    background: $light;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    h2.title {
      font-size: 70px;
      color: $primary;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      line-height: 80px;
    }
    p {
      line-height: 1.9em;
    }
    p.teaser {
      margin-top: 0;
      padding-top: 25px;
      font-size:20px;
      font-weight: 500;
      text-indent: 40px;
      color: $dark;
      font-family: "Noto Sans", sans-serif;
    }
    p.article {
      font-family: "Noto Sans", sans-serif;
      border-top: 2px solid $primary;
      padding-top: 20px;
      border-bottom: 2px solid $primary;
      padding-bottom: 20px;
      font-size: 16px;
      color: $darkgrey;
    }
  }

  #article-comments {
    padding-left: 40px;
    padding-right: 40px;
  }

  .comment-tree {
    margin-top: 20px;
    &:not(:nth-child(1)){
      margin-left: 60px;
      border-left: 4px solid $primary;
    }
    .comment {
     margin-bottom: 20px;
      position: relative;
      .comment {
        padding-left: 10px !important;
      }
      .content {
        display: flex;
        .user-picture {
          background: #666;
          width: 50px;
          min-width: 50px;
          min-height: 50px;
          line-height: 50px;
          color: white;
          border-radius: 90px;
          height: 50px;
          margin-right: 10px;
          text-align: center;
          background-size: cover;
          background-position: center center;
        }
        .body {
          flex: 1;
          p {
            line-height: 25px;
            padding: 0;
            margin: 0 ;
            .username {
              font-weight: bold;
              color: $primary;
            }
          }
        }
        .controls {
          height: 35px;
          line-height: 35px;
          border-bottom: 1px dotted $lightgrey;;
          display: flex;
          .reply-trigger {
            display: block;
            padding-right: 10px;
            height: 100%;
            font-size: 12px;
            color: $lightgrey;
            cursor: pointer;
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
          }
          .reply-from {
            background: lightblue;
            display: block;
          }
          .reply-input {
            border-radius: 2px;
            border: 1px solid $lightgrey;
            font-size: 12px;
            height: 25px;
            padding-left: 5px;
          }
          button {
            font-size: 12px;
            //background: $darkgrey;
            background: none;
            height: 25px;
            color: $primary;
            cursor: pointer;
            border: 1px solid $primary;
            border-radius: 2px;
          }
        }
      }
    }
    .footer {
      margin-left: 10px;
      button.showMore {
        font-size: 12px;
        color: lightgrey;
        background: none;
        border: 1px solid $lightgrey;
        border-radius: 2px;
        padding: 3px;
        cursor:pointer;
      }
    }
  }
}
