{% extends 'block.full.html.twig' %}

{% block content %}

<div class="container-full " id="route-view-gallery-view">
    <div class="container-full route-header gallery-view-route-header">
        <div class="body">
            <div class="container gallery-header-container"><h2 class="title">{{ gallery.getName() }}</h2></div>
        </div>
       <div class="bg-image" style="background-image: url({{ gallery.requestHeaderImage() }})"></div>
    </div>
    <div class="container image-list-container" id="image-list">
        <div id="gallery-mosaic" class="photos">

        </div>
    </div>

</div>

<script>

	var __IMAGES__ = {% autoescape false %}{{ gallery.getImageCollection().getUrlArray()|json_encode }}{% endautoescape %};

	$(document).ready(function(){

        var images = $.map(__IMAGES__, function(value, index) {
            return value;
        });

		initPhotos($('#gallery-mosaic'), images);

    });
</script>

{% endblock %}
