{% extends 'block.full.html.twig' %}

{% block content %}
    <div class="container-full" id="route-view-contact">
        <div class="container contact-container" id="contact-area">
            contact page
        </div>
    </div>
{% endblock %}
