@import '../lib/scss/mixins';

.route-header
{
  min-height: 400px;
  background-size: cover;
  background-position: center center;
  border-top: 1px solid $darkergrey;
}

.route-container {
  overflow: visible !important;
}

@include mq('desktop', 'max') {
  .route-header {
    min-width: calc( 100% + 30px );
    margin-left: -15px !important;
  }
}