#route-view-event-list
{
  position: relative;

  .container.event-list-container
  {
    min-height: 100%;
    padding-top: 15px;

    article.event  { min-height: 100px;}
    article.event
    {
      background: $light;
      margin-bottom: 15px;
      padding: 15px;
      border-bottom: 10px solid $lightgrey;
      a { color: $primary; }
      h2.title {
        font-size: 40px;
        color: $primary;
        text-transform: uppercase;
        padding: 0;
        margin: 0 0 15px 0;
      }
      p.text {
        font-size: 16px;
        padding: 0;
        line-height: 25px;
        margin: 0;
      }
    }
  }
}
