#route-view-user-auth
{
  #auth-container
  {
    margin-top: 30px;
    margin-bottom: 30px;
    .form-area {
      .forgot-password a { color: $primary; }
      .form-tabs {
        height: calc( 100% - 50px );
        .form-tab {
          position: relative;
          height: 100%;
          text-align: center;
        }
      }
      .form-tab-navigation {
        height: 50px;
        background: black;
        column-count: 2;
        column-gap: 0;
        > button {
          background: $primary;
          outline: 0;
          border: none;
          text-transform: uppercase;
          //font-family: 'Montserrat', sans-serif;
          width:100%;
          display:inline;
          height: 50px;
          font-size: 1.5em;
          color: $light;
          font-weight: 700;
          cursor: pointer;
          &.inactive {
            background: $darkerGrey;
            opacity: 0.8;
          }
        }
      }
    }
  }
}
