{% extends 'block.full.html.twig' %}

{% block content %}

    <div class="container-full route-container" id="route-view-about">
        <div class="container-full route-header about-route-header">
            <div class="body">
                <div class="container about-header-container">
                    <h2 class="title">ABOUT US</h2>
                </div>
            </div>
            <div class="bg-image" style="background-image: url(static/images/route_header.jpg)"></div>
        </div>
        <div class="container about-view-container" id="about-view">
            foobar
        </div>
    </div>

{% endblock %}
