#modal-upload-user-picture {
  > .modal-container {
    //min-width: 1000px;
  }
  
  #picture-area {
    width: 100%;
    margin: 0 auto;
  }
  
  .modal-body {
	padding-bottom: 0;
  }
  
  .modal-footer {
	padding: 15px 0 0 0;
  }

  #picture-area {
    position: relative;
    height: 300px;
    width: 100%;
  }

  #viewport {
    border: 3px dashed lighten($darkergrey, 40%);
    width: 100%;
    height: 300px;
	margin: 0 auto;
	overflow: hidden;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 2;
  }
  .hint {
    z-index: 1;
    margin: 3px;
    position: absolute ;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    top: 0; left: 0; right: 0; bottom: 0;
    background: $lightgrey;
    cursor: pointer;
  }
}


.vanish {
  display: none; opacity: 0; visibility: hidden; position: absolute; width: 0; height: 0;
}

.container-full.route-header {
  overflow: visible;
  &.profile-route-header {
    height: 300px;
    background: darken($darkgrey, 35%);
    display: flex;
    overflow: visible !important;
  }
  
}

.container.profile-header-container {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  overflow: visible !important;
  .username { text-align: center; }
  .username h1 {
    text-transform: uppercase;
    color: $primary;
    font-size: 35px;
  }
  .user-image {
    width: 200px;
    height: 200px;
    border-radius:100px;
    border: 2px solid orange;
    //border: 15px solid darken($darkgrey, 35%);
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    //margin-bottom: -85px;
  }

}

.container.container-user-details {
  background: white;
  margin-top: 100px;
}

#profile-area {

    .profile-cover {
      min-height: 300px;
      position: relative;
      margin-bottom: 20px;
      background: black;
    }


    .profile-image {
      border: 1px solid black;
      width: 200px;
      min-width: 100px;
      position: relative;
      &:before {
        display: block;
        content: "";
        width: 200px;
        min-width: 100px;
        padding-top: 100%;
      }
    }

    .profile-details {
      margin-top: 20px;
      background: white;
      border-top: 1px solid $lightgrey;
      padding: 20px;
      margin-bottom: 20px;

      .title {
        margin-top: 0;
        padding-bottom: 5px;
        border-bottom: 5px solid $primary;
        display: inline-block;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        color: black;
      }

      .detail-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        > li {
          line-height: 40px;
          border-bottom: 1px solid $lightgrey;
          &:last-child {
            border-bottom: none;
          }

          > span.label {
            color: black;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            min-width: 200px;
            width: 200px;
            display: inline-block;
            font-size: 0.9em;
          }
          > span.value {
            display: inline-block;
          }
        }
      }

    }

}
