
.home-grid
{
  padding-top: 10px;
  padding-bottom: 10px;

  @supports ( display: flex )
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @supports ( display: grid )
  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: dense;

    grid-gap: 20px;

    padding-top: 20px; /* override */
    padding-bottom: 20px; /* override */

    :nth-child(1) { grid-column: span 2; }
    :nth-child(7) { grid-column: span 2; }

    @include mq('tablet', 'max')
    {
      grid-template-columns: 1fr;

      .grid-item { grid-column: span 1; }
    }
  }

}
.grid-item
{
  position: relative;
  overflow: hidden;

  margin: 10px;

  float: left;

  width: calc(33.3333% - 20px);
  max-width: calc(33.3333% - 20px);

  background: white;

  &:nth-child(1) { width: calc(66.6666% - 20px); max-width: calc(66.6666% - 20px) }
  &:nth-child(2) { width: calc(33.3333% - 20px); max-width: calc(33.3333% - 20px) }

  &:nth-child(6) { width: calc(33.3333% - 20px); max-width: calc(33.3333% - 20px) }
  &:nth-child(7) { width: calc(66.6666% - 20px); max-width: calc(66.6666% - 20px) }

  @supports ( display: flex ) { float: none; }

  @supports ( display: grid )
  {
    float: none;
    width: 100%; /* override */
    min-width: 100%;
    max-width: 100%; /* override */
    margin: 0;
  }

}

.match-event-container
{
  padding-top: 40px;
  padding-bottom: 40px;
  div.widget-group
  {
    background: black;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    align-content: stretch;
    position: relative;

    > div.widget {
      padding-bottom: 30px;
      padding-top: 20px;
      max-width: calc(33.3334% - 10px);
      min-width: calc(33.3334% - 10px);
      position: relative;
      display: flex;
      flex-direction: column;
      > div.widget-title {
        overflow: hidden;
        margin-bottom: 10px;
        > * {
          font-size: 26px;
          padding-bottom: 10px;
          margin: 0;
          display: inline-block;
          border-bottom: 5px solid $primary;
          font-weight: bold;
          font-family: 'Montserrat', sans-serif;
          letter-spacing: 2px;
          color: white;
        }
      }
      > div.widget-body {
        flex: 1;
        position: relative;
        height: 100%;
        overflow: hidden;
      }
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          margin-top: 15px;

          display: flex;
          align-content: center;
          align-items: center;
          line-height: 24px;

          height: 24px;
          color: lighten($darkergrey, 20);

          font-family: 'Noto Sans', sans-serif;

        }
      }
    }
  }
  .widget.last-matches {
    padding-left: 15px;
    padding-right: 15px;
    background: darken($darkergrey, 20);
  }
  .widget.event-list {
    padding-right: 15px;
  }
  .widget.top-match {
    padding-left: 15px;
    .widget-body {
      display: flex;
      flex-direction: column;
      .match-info {
        flex: 1;
        text-align: center;
        > .event-name {
          color: $primary;
          font-weight: bold;
        }
        > .game {
          font-weight: 400;
          text-transform: uppercase;
          color: $lightgrey;
        }
      }
      .result-holder {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        height: 101px;
        max-height: 101px;
        background: darken($darkergrey, 20);
        .result {
          color: $primary;
          font-size: 40px;
          font-weight: bold;
        }
        .team-logo-holder {
          width: 101px;
          height: 101px;
          min-width: 101px;
          min-height: 101px;
          border-radius: 1px;
          max-width: 101px;
          max-height: 101px;
          padding: 5px;
          position: relative;
          .team-logo {
            background-size: contain;
            background-position: center center;
            width: 100%;
            height: 100%;
            border: 1px solid $darkergrey;
          }
        }
      }
    }
  }
  .last-matches, .event-list
  {
    position: relative;
    display: flex;
    flex-direction: column;
    .team, .name {
      flex: 1;
    }
    .score {
      align-self: flex-end;
      //font-size: 16px;
      font-weight: bold;
      color: $primary;
    }
    .enemy-name {
      //font-weight: 700;
      color: $lightgrey;
      font-size: 13px;
    }
    .event-name {
      // font-weight: 700;
      color: $lightgrey;
      flex: 1;
      font-size: 13px;
    }
    .event-date {
      color: $primary;
      //font-size: 16px;
      font-weight: bold;
    }
    .game {
      background: $darkergrey;
      color: $light;
      margin-right: 7px;
      text-align: center;
      min-width: 50px;
      max-width: 50px;
      min-height: 20px;
      max-height: 20px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 50px;
      overflow: hidden;
      text-transform: uppercase;
      border-radius: 1px;
      font-size: 10px;
      font-weight: 400;
    }

  }
  .event-list {

  }
}

#featured-squad-full-container
{
  background: $dark;
  border-bottom: 5px solid $primary;
  min-height: 450px;
  height: 450px;
  position: relative;

  > .container {
    min-height: 100%;
    height: 100%;
    position: relative;
  }

  .squad
  {
    border: 2px solid magenta;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .squad-game
    {
      border: 1px solid red;
      height: 120px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
    .players
    {
      width: 100%;
      border: 1px solid blue;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      align-content: flex-end;
      .player
      {
        width: 200px;
        height: 260px;
        border: 1px solid orange;
        position: relative;
        display: flex;
        align-content: flex-end;
        align-items: flex-end;
        padding: 0px 10px 10px 10px;
        .nameplate
        {
            background: $primary;
            width: 100%;
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
      }
    }
  }
}
