{% extends 'block.full.html.twig' %}

{% block content %}
    <div class="container-full route-container" id="route-view-squad-list">
        <div class="container-full route-header" style="background-image: url(static/images/route_header.jpg)">
            <span><h1 class="title bg-text uc-text">SQUADS</h1></span>
        </div>
        <div class="container squad-list-container">
            <div class="squad-list">
            {% for sk, squad in squads.getModels() %}
                {% if squad.getActive() %}
                <div class="squad mar-btm-default pad-default box-shadow-1 round-2">
                    <span class="title">
                    <h2 class="uc-text bg-text">
                        <a href="/squad/{{ squad.getName() }}">{{ squad.getName() }}</a>
                    </h2>
                    </span>
                    <div class="bg bg-image bg-grayed bg-cover bg-toggle-hover bg-centered" style="background-image: url({{ squad.requestHeaderImage() }})"></div>
                </div>
				{% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}