{% extends 'block.full.html.twig' %}

{% block content %}

<div class="container-full" id="route-view-partner-list">
    <div class="container partner-list-container" id="partner-list">
        {% for pk, partner in partners %}
            <article class="partner">
                <div class="logo" style="background-image: url({{ partner.requestLogo() }})">

                </div>
                <div class="body">
                    <h2 class="name">{{ partner.getName() }}</h2>
                    <p class="desc">
                        {{ partner.getDescription() }}
                    </p>
                </div>
            </article>
        {% endfor %}
    </div>
</div>

{% endblock %}