#modal-image-gallery {
  .modal-footer {
    display: none;
  }
}

#route-view-gallery-view
{
    overflow: visible;
    position: static !important;
  #image-list
  {
    padding-top: 15px;
    padding-bottom: 30px;

    #gallery-mosaic {
      width: 100%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .photo {
        min-width: calc(33.3334% - (15px * 2) / 3);
        max-width: calc(33.3334% - (15px * 2) / 3);
        margin-bottom: 15px;
        height: 250px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        border: 5px solid $light;
        -webkit-box-shadow: 0 0 62px -4px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 0 62px -4px rgba(0,0,0,0.2);
        box-shadow: 0 0 62px -4px rgba(0,0,0,0.2);
        
        -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
        filter: grayscale(50%);
        &:hover {
          border-color: $primary;
          -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
          filter: grayscale(0%);
        }
        &:active { transform: scale(1.1); }
      }
    }
  }

  @include mq('tablet-wide', 'max') {
    #image-list {
      #gallery-mosaic {
        .photo {
          min-width: calc( 50% - 15px / 2 );
          max-width: calc( 50% - 15px / 2 );
        }
      }
    }
  }

  @include mq('tablet', 'max') {
    #image-list {
      #gallery-mosaic {
        .photo {
          min-width: 100%;
          max-width: 100%;
          height: 320px;
          margin-bottom: 15px;
        }
      }
    }
  }

  @include mq('phone-wide', 'max') {
    #image-list {
      #gallery-mosaic {
        .photo {

          height: 220px;

        }
      }
    }
  }

  @include mq('phone', 'max') {
    #image-list {
      #gallery-mosaic {
        .photo {

          height: 180px;

        }
      }
    }
  }
}
