{% extends 'block.full.html.twig' %}

{% block content %}

<div id="route-view-home" class="container-full">

    <!-- top news -->
    <section id="home-headlines" class="container-full">
        <div class="container section-content">
            <article class="container pad-default bg-light box-shadow-1 round-2">
                foo
            </article>

            <article class="container pad-default bg-light box-shadow-1 round-2">
                foo

            </article>
        </div>
    </section>

    <!-- last news -->
    <section id="home-last-articles" class="container-full bg bg-dark">
        <div class="section-header">foo</div>
        <div class="container section-content">
            <div class="container last-article-list">
                <div class="bg-light pad-default round-2">
                    <h1><a href="" class="a-primary">THIS IS A TITLE</a></h1>
                    <p class="paragraph low-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <a class="more-button uc-text">read more</a>
                </div>
                <div class="bg-light pad-default round-2">
                    <h1><a href="" class="a-primary">THIS IS A TITLE</a></h1>
                    <p class="paragraph low-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <a class="more-button uc-text">read more</a>
                </div>
                <div class="bg-light pad-default round-2">
                    <h1><a href="" class="a-primary">THIS IS A TITLE</a></h1>
                    <p class="paragraph low-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <a class="more-button uc-text">read more</a>
                </div>
                <div class="bg-light pad-default round-2">
                    <h1><a href="" class="a-primary">THIS IS A TITLE</a></h1>
                    <p class="paragraph low-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <a class="more-button uc-text">read more</a>
                </div>
            </div>
            <div class="container featured-content">
                <div class="bg-light box-shadow-1 round-2 pad-default">
                    foo
                </div>
            </div>
        </div>
    </section>

    <!-- matches / events -->
    <section id="home-matches-events" class="container-full">
        <div class="section-header">foo</div>
        <div class="container section-content">
            3
        </div>
    </section>

    <!-- members -->
    <section id="home-members" class="container-full bg bg-dark">
        <div class="section-header">foo</div>
        <div class="container section-content">
            4
        </div>
    </section>

</div>

{% endblock %}