{% extends 'block.full.html.twig' %}

{% block content %}

{% verbatim %}

<div class="container-full" id="user-profile">
	<div class="container-full route-header profile-route-header">
		<div class="container profile-header-container">
			<div class="username">
				<h1></h1>
				<h3>DANIEL KEMENY</h3>
			</div>
			<div
				class="user-image"
				v-on:click="showModal = true"
				v-bind:style="{ backgroundImage: 'url(' + user.getProfilePicture() + ')' }"></div>
		</div>
	</div>

	<div class="container-full">
		<div class="container container-user-details" style="height: 800px;">
			foo
		</div>
	</div>
	<modal v-if="showModal" v-on:close="showModal = false">
		<div slot="header">
			<h2>Edit Picture</h2>
		</div>
		<div slot="body">
			<div id="picture-form">
				<div>
					<div
						class="user-picture"
						v-on:click="browse()"
						v-bind:style="{ backgroundImage: 'url(' + user.getProfilePicture() + ')' }">
						<!-- input vanished -->
						<input type="file" class="vanish" id="profile-picture-input">
					</div>
				</div>
			</div>
		</div>
	</modal>
</div>

{% endverbatim %}

{% include 'vue.component.modal.html.twig' %}

<script>

(function($, Vue){

	var User = function(props = {})
	{
		var self = this;
		self.props = props;

		this.getProperty = function(name)
		{
			return self.props.hasOwnProperty(name) ? self.props[name] : null;
		};

		this.getProfilePicture = function(){
			return self.getProperty('profile_picture');
		};

	};

	var __USER__ = {% autoescape false %}{{ user|json_encode }}{% endautoescape %};

	var app = new Vue({
		el: '#user-profile',
		data: function () {
			return {
				user : new User(__USER__),
				showModal: false
			}
		},
		methods: {
			browse(){
				this.getFileInput().trigger('click');
			},
			profileImageInput( event )
			{
				this.uploadFile( event.target.files, 'profile_picture' ).then(function( filepath ){
					console.log(filepath)
				}).catch(function(){
					console.log('rejected')
				});
			},
			coverImageInput( event ){
				this.uploadFile( event.target.files, 'cover_picture' ).then(function( filepath ){

				}).catch(function(){

				});
			},
			uploadFile( files, name ){
				return new Promise(function( resolve, reject ){
					console.log(files[0])
					var firstFile = files[0];
					var fd = new FormData;
					fd.append( name, firstFile, firstFile.name );

					$.ajax({
						url: "/uploadUserPicture",
						type: "POST",
						data:  fd,
						xhr: function() {
							var xhr = new window.XMLHttpRequest();
							xhr.upload.addEventListener("progress", function(evt) {
								if (evt.lengthComputable) {
									var percentComplete = evt.loaded / evt.total;
									percentComplete = parseInt(percentComplete * 100);
									console.log(percentComplete);
									if (percentComplete === 100) {

									}
								}
							}, false);
							return xhr;
						},
						contentType: false,
						processData:false,
						beforeSend: function(){

						},
						success: function(response)
						{
							resolve(response);
						},
						complete: function(xhr) {

						},
						error: function()
						{
							reject(false);
						}
					});
				});
			},
			getFileInput(){
				return $(this.$el).find('#profile-picture-input');
			}
		},
		created(){

		}
	});

}( jQuery, Vue ));

</script>

{% endblock %}