{% extends 'block.full.html.twig' %}

{% block content %}

<div class="container-full" id="route-view-user-forgot">
    <div class="container image-list-container" id="activate-container">
        <div class="forgot-area">
            {{ message }}
        </div>
    </div>
</div>

{% endblock %}