
<span class="icons">

    {% set limit = ( limit ? limit : 3 ) %}

    {% for key,link in Config.getSocialLinks() if limit > 0 %}

        <a href="{{ key }}" class="icon round">
            <i class="fab fa-{{ key }} fa-lg"></i>
        </a>

        {% set limit = limit - 1 %}

    {% endfor %}

</span>
