
<span class="icons">

    {% set limit = ( limit ? limit : 3 ) %}

    {% for key,item in items if limit > 0 %}

        <a href="{{ item }}" class="icon round">
            <i class="fab fa-{{ key }}-square fa-lg"></i>
        </a>

        {% set limit = limit - 1 %}

    {% endfor %}

</span>
